---
layout: default
title: Home
---

<div class="message" style="font-size: 0.9em">
  Welcome to my site! This is under development and will mainly be posts about me and my thoughts, especially programming.
  <br />
  See <a href="/portfolio">my portfolio</a>, <a href="/about">my about page</a>, and check out the <a href="/featured">featured posts</a>. Thanks!
</div>

<div>
  Planned Posts:
  <ul>
  {% for post in site.data.planned_posts %}
  <li>
    <b>{{ post.title }}</b>: 
    {{ post.description }}
    {% if post.note %}
    <br><i>Note: {{ post.note }}</i>
    {% if post.issue_link %}
    (<a href="{{ post.issue_link }}">Issue</a>)
    {% endif %}
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</div>

<br \>

<div class="posts">
  {% for post in paginator.posts %}
  <hr \>
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | truncatewords: 30 }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<hr class="contact-divider" style="margin: 2rem 0;">
<div class="contact-section">
  <h3>Get in Touch</h3>
  <p>Have questions or want to discuss something? Feel free to reach out on Discord: <code>{{ site.author.discord }}</code></p>
</div>
